.sectionContainer {
  padding-left: 5rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  padding-bottom: 9rem;
  background-color: transparent;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.form {
  width: 60%;
  max-width: 600px; // puedes ajustar este valor según tus necesidades
  margin: 0 auto; // centra el formulario en la pantalla
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  height: 25rem;
  text-align: center;

  .formLabel {
    color: #ffffff;
    text-align: left;
    background-color: #af9cff;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .formControl {
    text-align: center;
    margin-bottom: 1rem;
    background-color: #af9cff;
    border: none;
    color: white;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .formControl::placeholder {
    color: white;
    text-align: left;
  }

  .formQuery {
    text-align: center;
    margin-bottom: 1rem;
    background-color: #af9cff;
    border: none;
    color: white;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 150px;
  }

  .formQuery::placeholder {
    color: white;
    text-align: left;
  }
  
  #query {
  height: 150px;
  }
}

.submitButton {
  background-color: #7c54f7;
  color: white;
  border: none;
  padding: 1rem 4rem;
  border-radius: 3rem;
  cursor: pointer;
}
.subTitle{
  padding-left: 5rem;
  text-align: center;
  font-weight: bold;
  color: white;
  width: 90rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}